{% extends "index.html" %}
{%block bodyblock%}
<link rel="stylesheet" href="{{url_for('static',filename='css/citizen.css')}}">
<div class="card">
    <div class="card-header">
        <h3>Add Citizen Details</h3>
    </div>
    <div class="card-body">
        {% if message|length !=0 %}
        <p style="color:red;">{{message}}</p>
        {% endif %}
        <form method="post" action="{{url_for('citizen')}}" enctype="multipart/form-data">
            <input class="input-group-prepend" type="text" name="name" placeholder="Enter Citizen Name" autocomplete="off" required>
            <input class="input-group-prepend" type="integer" name="age" placeholder="Enter Age of Citizen"  autocomplete="off" required>
            <input class="input-group-prepend" type="text" name="address" placeholder="Enter Address of Citizen" autocomplete="off" required>
            <input class="input-group-prepend" type="file" name="photo" accept="image/*" required>
            <button class="signup_btn" type="submit">Submit Details</button>
        </form>
    </div>
</div>
{%endblock%}