<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">    
<title>Copeye</title>
</head>
<body>
  <div class="top-full">
  <div class="cotainer-fluid text-center top">
    <img id="nav-logo" src="{{url_for('static',filename='images/police.jpg')}}">
    <a class="navbar-brand" href="{{url_for('index')}}">CopEye</a>
    {%if session['name'] %}
    <p id="welcome_name">Welcome {{ session['name'] }}</p>
    {% endif %}
  </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid inside">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('citizen')}}" aria-current="page">Add Citizen</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
      {%block bodyblock%}
      <div class="container-cards">
          <div id="criminal">
            <div class="card">
                <img src="\static\images\identify-criminal.jpg" alt="criminal">
                <div class="card-body">
                  <h5 class="Criminal Detection"></h5>
                  <p class="card-text">Update Criminal into database and search for the criminal from live cameras and get alert as soon as they appear in  front of any camera</p>
                  <a href="{{url_for('criminal')}}" class="btn">Detect a Criminal</a>
                </div>
              </div>
          </div>
          <div id="facemask">
            <div class="card">
                <img src="\static\images\face-mask.jpg" alt="criminal">
                <div class="card-body">
                  <h5 class="Generate Challan for Face Mask"></h5>
                  <p class="card-text">Wearing mask in COVID-19 has been very important.This feature allows to check for the people who are wearing masks and gives a list of people who are not wearing masks.</p>
                  <a href="{{url_for('facemask')}}" class="btn">Generate Challan for Face Mask</a>
                </div>
              </div>
          </div>
          <div id="lost_found">
            <div class="card">
                <img src="\static\images\lost-found.jpg" alt="criminal">
                <div class="card-body">
                  <h5 class="Generate Challan for Face Mask"></h5>
                  <p class="card-text">This feature gives the option to upload the image of lost person and allows to search for the lost person through live camera and generates alert when the system recognizes the person</p>
                  <a href="{{url_for('lost_found')}}" class="btn">Lost and Found</a>
                </div>
              </div>
          </div>
      </div>
      {%endblock%}
</body>
</html>