<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet" />
		<link href="/static/css/login_new.css" rel="stylesheet" />
		<title>Login Page</title>
	</head>
	<body>
		<div class="v4_29">
			<div class="v3_9"></div>
			<div class="v3_10"></div>
			<div class="v3_11"></div>
			<div class="v3_12"></div>
			<div class="v3_13"></div>
			<div class="v3_14"></div>
			<div class="v3_15"></div>
			<div class="v3_16"></div>
			<span class="v3_18">CopEye</span>
			<span class="v3_19">CopEye
				{% if message|length !=0 %}
				<p style="font-size:15px;top: 150px;color:red;position: absolute;">{{message}}</p>
				{% endif %}
			</span>
			<span class="v3_20">For your upmost safety
			</span>
			{%block bodyblock%}
			<form method="post" action="{{ url_for('login') }}">
				<button class="v3_21">Login</button>
			</form>
			<form method="" action="{{url_for('signup')}}">
				<button class="v3_22">Signup</button>
			</form>
			{%endblock%}
		</div>
	</body>
</html>