<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="/static/css/signup_new.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="v11_50">
        <div class="v11_37">
            <a class='v11_44' href="{{url_for('login')}}">CopEye</a>
            <span class="v11_45">Sign Up!</span>
            <form class="my-form" method="POST" action="{{url_for('signup')}}">
            <input class="v11_40" type="text" name="name" autocomplete="off" required><span class="v11_46">UserName</span>
            <input class="v11_41" type="email" name="email" autocomplete="off" required><span class="v11_47">Email</span>
            <button class="v11_42" type="submit">Signup Using Face ID</button>
            {% if message|length !=0 %}
            <p class="v11_42" style="color:red;">{{message}}</p>
            {% endif %}
        </form>
        </div>
    </div>
</body>
</html>